

body {
  font-family: 'Times New Roman', Times, serif;
  }

  .section h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;

  }

  .frameOne{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 95%;
    text-align: left;
  }

  .frameOne .layout{
    position: absolute;
    top: 21.9%;
    right: 0.8%;
    left: 1%;
    height: 74%;
    overflow: scroll;


  }

    /* width */
  .frameOne ::-webkit-scrollbar {
    width: 23px;
    
  }

  /* Track */
   .frameOne ::-webkit-scrollbar-track {
    background: #aaaaaa;
  }

  .frameOne ::-webkit-scrollbar-corner{
    background: #808080;
  }

  /* Handle */
  .frameOne ::-webkit-scrollbar-thumb {
    background: url('./images/1996scrollBar.png');
    background-size: cover;
  }

  /* Handle on hover */
  .frameOne ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('./images/1996scrollBar.png');
    background-size: cover;
  }


  .layout p{
    /* margin-right: 180px; */
    /* padding-right: 180px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;


  }

  /* SECOND ERA - EARLY 2000s*/

  .frameTwo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 95%;
    text-align: left;
  }

  .frameTwo .layout{
    position: absolute;
    top: 19.7%;
    right: 0.7%;
    left: 0.7%;
    height: 80%;
    overflow: scroll;

  }

.column {
  float: left;
  padding: 10px;
}

.eraTwoLogo {
  width: 20%;
  background-color: pink;
}

.eraTwoNav {
  width: 76%;
  background-color: purple;
}

.left {
  width: 22%;
  background-color: red;
}

.right {
  width: 22%;
  background-color: blue;
}

.middle {
  width: 50%;
  background-color: green;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

  /* ------------------------------- */
    /* width */
    .frameTwo ::-webkit-scrollbar {
      width: 20px;
      
    }
  
    /* Track */
     .frameTwo ::-webkit-scrollbar-track {
      background: #fffbff
    }
  
    .frameTwo ::-webkit-scrollbar-corner{
      background: rgb(230, 228, 230)
    }
  
    /* Handle */
    .frameTwo ::-webkit-scrollbar-thumb {
      background: url('./images/early2000sScroll.png');
      background-size: 100% 100%;
    }
  
    /* Handle on hover */
    .frameTwo ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('./images/early2000sScroll.png');
      background-size: 100% 100%;
    }
  

  .frameThree{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 95%;
    text-align: left;
  }

  .frameThree .layout{
    position: absolute;
    top: 17.9%;
    right: 0.05%;
    left: 0.35%;
    height: 82%;
    overflow: scroll;

  }

  /* width */
  .frameThree ::-webkit-scrollbar {
    width: 15px;
    
  }

  /* Track */
   .frameThree ::-webkit-scrollbar-track {
    background: #fafafa
  }

  .frameThree ::-webkit-scrollbar-corner{
    background: #dadada
  }

  /* Handle */
  .frameThree ::-webkit-scrollbar-thumb {
    background: url('./images/late2000sScroll.png');
    background-size: 100% 100%;
  }

  /* Handle on hover */
  .frameThree ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('./images/late2000sScroll.png');
    background-size: 100% 100%;
  }

  .frameFour{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 95%;
    text-align: left;
  }

  .frameFour .layout{
    position: absolute;
    top: 12%;
    right: 0%;
    left: 0.5%;
    height: 88%;
    overflow: scroll;

  }

  
  /* width */
  .frameFour ::-webkit-scrollbar {
    width: 15px;
    
  }


  /* Handle on hover */
  .frameFour ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  }


  .section p {
    color: black;
  }
  
  h3 {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    font-weight: 700;
  }