@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

body {
  
  }

  .section.one h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;

  }

  .section.two table{
    font-family: Arial, Helvetica, sans-serif;

  }

  .section.two p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

  }

  .background {
    z-index: -1;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    height: 100%;
  }

  .frameOne{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 95%;
    text-align: left;
    cursor: url("./cursors/section1/arrow.cur"), auto;  
  }

  .frameOne a:hover{
    cursor: url("./cursors/section1/link.cur"), auto;    
  }

  .frameOne .layout{
    position: absolute;
    top: 21.9%;
    right: 0.8%;
    left: 1%;
    height: 73.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: normal;
    padding-left: 10px;
    padding-right: 10px;
    


  }

    /* width */
    .frameOne ::-webkit-scrollbar {
    width: 27px;
    
  }

  /* Track */
  .frameOne ::-webkit-scrollbar-track {
    background: #dbdbdb;
    margin-top: .48px;
  }

  .frameOne ::-webkit-scrollbar-corner{
    background: #808080;
  }

  /* Handle */
  .frameOne ::-webkit-scrollbar-thumb {
    background: url('./images/1996scrollBar.png');
    background-size: cover;
    background-position: left;
  }

  /* Handle on hover */
  .frameOne ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('./images/1996scrollBar.png');
    background-size: cover;
  }




  .layout p{
    /* margin-right: 180px; */
    /* padding-right: 180px; */
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    hyphens: none;


  }

  /* SECOND ERA - EARLY 2000s*/

  .frameTwo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 90%;
    text-align: left;
    border-radius: 5px;
    cursor: url("./cursors/section2/xp_arrow.cur"), auto;
  }

  .frameTwo a:hover{
    cursor: url("./cursors/section2/xp_link.cur"), auto;
  }

  .frameTwo .layout{
    position: absolute;
    top: 20.055%;
    right: 0.5%;
    left: 0%;
    height: 75.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px;

  }

.column{
  float: left;
  padding-top: 10px;
}

.column.entry{
  width: 40%;
}

.eraTwoLogo {
  width: 30%;
  padding-top: 15px;
  padding-left: 5px;
}

.eraTwoWelcome {
  width: 64.3%;
  align-content: right;
  background-color: #D8C978;
  float: right;
  margin-right: 9px;
  margin-top: 15px;
}

.eraTwoWelcome h5{
  font-family:Arial, sans-serif;
  font-size: 16px;
  margin: 0%;
  padding-left: 5px;
}

.eraTwoNav {
  width: 100%;
}


.eraTwoNav table{
  border-collapse:collapse;
  border-spacing:0;
  background-color: white;
  width: 100%;
  margin-bottom: 0;
}

.eraTwoNav table th{
  border: black 1px solid;
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:5px 5px;
  text-decoration: underline;
  text-align: center;
}

.left {
  width: 20%;
}

.left table{
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
  margin-bottom: 0;

}

.left table td{
  background-color: #D8C978;
  border: black 1px solid;
  font-size:14px;
  padding:5px 5px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.left table td.itemList{
  background-color: white
}

.left table td ul{
  padding: 0%;
  list-style-type: none;
}

.left table td li{
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
}

.left table td li a{
  color: blue;
}

.middle {
  width: 54%;
  padding: 10px;
  border: black 1px solid;
  background-blend-mode: overlay;
  background-color: #ede0f2;
  margin: 0 10px;
  margin-top: 10px;
}

.middle table{
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
  margin-bottom: 0;
  border: black 1px solid;

}

.middle table td{
  border: black 1px solid;
  font-size:14px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  padding: 20px;
}

.right {
  width: 20%;
}

.right table{
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
  margin-bottom: 0;

}

.right table td{
  background-color: #D8C978;
  border: black 1px solid;
  font-size:14px;
  padding:5px 5px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.right table td.itemList{
  background-color: white;
}

.right table td ul{
  padding: 0%;
  list-style-type: none;
  line-height:100%
}

.right table td li{
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
}

.right table td li a{
  color: blue;
}

.searchBtn {
  margin-left: 10px;
}

.searchBtn:hover {
  margin-left: 10px;
  cursor: url("./cursors/section2/xp_link.cur"), auto;
}

#site-search:hover{
  cursor: url("./cursors/section2/xp_beam.cur"), auto;
}

#ad:hover{
  cursor: url("./cursors/section2/xp_link.cur"), auto;
}

#back-btn{
  position: absolute;
  top: 8%;
  left: 1%;
  width: 8%;
  height: auto;
}

#back-btn:hover {
  cursor: url("./cursors/section2/xp_link.cur"), auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

  /* ------------------------------- */
    /* width */
    .frameTwo ::-webkit-scrollbar {
      width: 22px;
      
    }
  
    /* Track */
    .frameTwo ::-webkit-scrollbar-track {
      background: #fffbff
    }
  
    .frameTwo ::-webkit-scrollbar-corner{
      background: rgb(230, 228, 230)
    }
  
    /* Handle */
    .frameTwo ::-webkit-scrollbar-thumb {
      background: url('./images/early2000sScroll.png');
      background-size: 100% 100%;
    }
  
    /* Handle on hover */
    .frameTwo ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient( rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00)), url('./images/early2000sScroll.png');
      background-size: 100% 100%;
    }
  

  .frameThree{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 86%;
    text-align: left;
    border-radius: 10px;
    border-bottom-left-radius: 16px;
  }

  .frameThree .layout{
    position: absolute;
    top: 17.9%;
    right: 0.05%;
    left: 0.35%;
    height: 79.24%;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  /* width */
  .frameThree ::-webkit-scrollbar {
    width: 15px;
    
  }

  /* Track */
   .frameThree ::-webkit-scrollbar-track {
    background: #fafafa;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .frameThree ::-webkit-scrollbar-corner{
    background: #dadada;
  }

  /* Handle */
  .frameThree ::-webkit-scrollbar-thumb {
    background: url('./images/late2000sScroll.png');
    background-size: 100% 100%;
  }

  /* Handle on hover */
  .frameThree ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('./images/late2000sScroll.png');
    background-size: 100% 100%;
  }

  /* frame three WWW logo */
  .thirdLogo {
    align-content: center;
    padding-top: 50px;
  }

  .logoHolder {
    width: 650px;
    align-content: left;
    margin: auto;
    padding-top: 10px;
  }

  .whiteHolder {
    background-color: white;
    width: 70%;
    height: 1000px;
    margin: auto;
    margin-top: 20px;
    -webkit-box-shadow:0 0 20px #cdcfbf; 
    -moz-box-shadow: 0 0 20px #cdcfbf; 
    box-shadow:0 0 20px #cdcfbf;
    border-radius: 8px;

  }

  .feed {
    float: left;
    width: 75%;
    margin-top: 12px;
    margin-left: 10px;
    align-content: left;
    

  }

  .sidebar {
    display: inline-block;
    width: 22%;
    height: 180px;
    margin-top: 13px;
    margin-right: 8px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #e3e3e3;
    background-image: linear-gradient(to bottom, #f1f1f1, #dfdfdf);
    color: #4c5285;
    text-align: center;

  }



/* SECTION FOUR */
  .frameFour{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 86%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }

  .frameFour .layout{
    position: absolute;
    top: 12%;
    right: 0%;
    left: 0.5%;
    height: 88%;
    overflow: scroll;

  }

  .navbar li{
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
  }

  .navbar .nav-item .nav-link{
    color: black;
  }

  .navbar .nav-item .nav-link:hover{
    font-weight: bold;
    transition: 0.2s;
  }

  .frameFour .intro{
    align-items: center;
    text-align: right;
  }

  .frameFour .intro-text{
    align-items: center;
    text-align: right;
    margin-right: 10% !important;
  }

  .frameFour .intro-text h1 {
      font-family: Futura,Trebuchet MS,Arial,sans-serif;  
      font-size: 75px !important; 
      color: #F87849;
      text-align: right;
  }

  .frameFour .intro-text h2 {
    color: #504E40;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 32px !important; 
  }

  .frameFour .intro-text p {
    color: black;
    font-family: Futura, sans-serif !important; 
    font-size: 22px !important;
  }

  .frameFour h1 {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;  
    font-size: 48px !important; 
    color: black;
    text-align: center;
}

.frameFour h4 {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;  
  color: black;
  text-align: center;
}

  .frameFour p {
    color: black;
    font-family: Futura, sans-serif !important; 
    margin-bottom: 0% !important;
    font-size: 24px !important;
  }

 #learn-more{
   background-color: black;
   border: none;
 }

 #learn-more p{
  color: white;
  font-weight: lighter;
  font-size: 18px !important;
}

button.next-btn{
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: auto;
  background-color: black;
  border: none;
}

button.next-btn p{
  color: white;
  font-weight: lighter;
  font-size: 18px !important;
}
  
/* width */
.frameFour ::-webkit-scrollbar {
  width: 15px;
  
}
.frameFour ::-webkit-scrollbar-thumb {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}


/* Handle on hover */
.frameFour ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}


.section p {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  font-size: 5em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: black;
  font-weight: 700;
}

.carousel {
  width: 100%;
  padding-left: 10%;
  padding-right: 10% !important;
  padding-top: 20px;
}

.has_bootstrap .carousel-inner {
  border: 1px black solid;
}

.has_bootstrap .carousel-control-next {
  right: 10% !important;
}

.has_bootstrap .carousel-control-prev {
  left: 10% !important;
}

.has_bootstrap .card-deck {
  width: 90%;
}

.has_bootstrap .card-deck .card{
  border: none !important;
}

.has_bootstrap .card-text:last-child {
  font-size: 18px !important;
}

.has_bootstrap .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

.has_bootstrap h5 button{
  font-family: Futura, sans-serif !important; 
}

#accordion .card-header a {
}

#react{
  background-color: #61dafb;
}

#angular{
  background-color: #c02836;
}

#vue{
  background-color: #42b983;
}


/* INTRO PAGE */
.intro{

}

.introBackground{
  background-image: url('./images/cmdBlur.jpg');
}

.section .type{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: #00ff00;
  font-family: 'Courier New','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace; 
}
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 28em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}