body {
  font-family: 'Times New Roman', Times, serif;
  }

  .section h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;

  }

  .frameOne{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    text-align: left;
  }

  .frameOne .layout{
  padding-top: 17%;
  padding-left: 2%;
  padding-right: 4%;

  }

  .layout p{
    /* margin-right: 180px; */
    /* padding-right: 180px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;


  }

  .frameTwo{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 160px;
    padding-left: 20px;
    text-align: left;
    word-wrap: break-word;

  }

  .frameTwo p{
    padding-right: 50px;

  }

  .frameFour{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 160px;
    padding-left: 20px;
    text-align: left;
    word-wrap: break-word;

  }

  .frameFour p{
    padding-right: 50px;

  }


  .section p {
    color: black;
  }
  
  h3 {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    font-weight: 700;
  }